<div class="alert alert-danger" role="alert" style="text-align: center;">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> No se encontro la encuesta solicitada!
</div>